name: Deploy To EC2

on:
  push:
    branches:
      - main

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH로 EC2에 접속하기
        uses: appleboy/ssh-action@v1.0.3
        with:
         host: ${{ secrets.EC2_HOST }}
         username: ${{ secrets.EC2_USERNAME }}
         key: ${{ secrets.EC2_PRIVATE_KEY }}
         script_stop: true # 아래 script 중 실패하는 명령어 하나라도 있으면 실패로 처리
         script: |
           cd /home/ubuntu/cicd-demo-nest
           git pull origin main
           npm i
           npm run build
           pm2 kill
           pm2 start dist/main.js --name "backend-server"
