name: Deploy To EC2

on:
  push:
    branches:
      - main

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Github Repository 파일 불러오기
        uses: actions/checkout@v4
        
      - name: Node 설치
        uses: actions/setup-node@v4
        with:
          node-version: "20"
       
      - name: 의존성(라이브러리) 설치
        run: npm ci
      
      - name: .env 파일 만들기
        run: |
          echo '${{ secrets.ENV }}' > env
          
      - name: env 잘 만들었나?
        run: |
          ls -a
          cat .env

      - name: 테스트 코드 실행
        run: npm run test

      - name: 빌드
        run: npm run build

      - name: 압축
        run: tar -czvf project.tar.gz dist .env package.json package-lock.json

      - name: SCP로 EC2에 빌드된 파일 전송
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          source: project.tar.gz
          target: cd /home/ubuntu/cicd-demo-nest/tobe

      - name: SSH로 EC2에 접속하기
        uses: appleboy/ssh-action@v1.0.3
        with:
         host: ${{ secrets.EC2_HOST }}
         username: ${{ secrets.EC2_USERNAME }}
         key: ${{ secrets.EC2_PRIVATE_KEY }}
         script_stop: true # 아래 script 중 실패하는 명령어 하나라도 있으면 실패로 처리
         script: |
           rm -rf /home/ubuntu/cicd-demo-nest/current
           mkdir /home/ubuntu/cicd-demo-nest/current
           mv /home/ubuntu/cicd-demo-nest/tobe/project.tar.gz /home/ubuntu/cicd-demo-nest/current/project.tar.gz
           cd /home/ubuntu/cicd-demo-nest/current
           tar -xvf project.tar.gz
           npm i
           pm2 kill
           pm2 start dist/main.js --name "backend-server"
